<ion-content [fullscreen]="true">
  <div style="padding-top: 20px" class="ion-padding">
    <ion-row>
      <ion-col size="2">
        <button ion-button class="div_btn" [routerLink]="'/tabs/parametres'"><ion-icon name="chevron-back"></ion-icon></button>
      </ion-col><!--col-->
      <ion-col size="8">
        <p style="font-size: 20px;font-weight: 500;text-align: center;">Mot de passe</p>
      </ion-col><!--col-->
      <ion-col size="2" align="right">
        <ion-icon name="create" style="font-size: 35px;"></ion-icon>
      </ion-col><!--col-->
    </ion-row><!--ion-row-->
  </div>

  <div class="ion-padding" style="padding-top:70px;">

    <form [formGroup]="passwordForm" novalidate>

      <mat-form-field appearance="legacy" class="example-full-width">
        <mat-label style="font-size: 14px;">Mot de passe actuelle</mat-label>
        <input matInput formControlName="lostpassword" [type]="hideLP ? 'password' : 'text'"  required>
            <button class="iconVisible" *ngIf="passwordForm.get('lostpassword').value && passwordForm.get('lostpassword').value!=''" mat-icon-button matSuffix (click)="hideLP = !hideLP" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideLP">
             <mat-icon>{{hideLP ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-icon class="iconError0" matTooltip="{{ account_validation_messages.lostpassword[0].message }}"
              *ngIf="passwordForm.get('lostpassword').hasError(account_validation_messages.lostpassword[0].type) && ((passwordForm.get('lostpassword').dirty || passwordForm.get('lostpassword').touched))"
              style="cursor: pointer;" matSuffix>
               <i class="fas fa-exclamation-circle"></i>
            </mat-icon>
      </mat-form-field>
      <div *ngIf="passwordFormErrors.lostpassword.notfound">
        <p style="color:red">L'ancien mot de passe invalide. </p>
      </div> 

      <mat-form-field appearance="legacy" class="example-full-width">
        <mat-label style="font-size: 14px;">Nouveau mot de passe</mat-label>
        <input matInput formControlName="password" [type]="hideP ? 'password' : 'text'"  required>
        <button class="iconVisible" *ngIf="passwordForm.get('password').value && passwordForm.get('password').value!=''" mat-icon-button matSuffix (click)="hideP = !hideP" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP">
         <mat-icon>{{hideP ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-icon class="iconError0" matTooltip="{{ account_validation_messages.password[0].message }}"
          *ngIf="passwordForm.get('password').hasError(account_validation_messages.password[0].type) && ((passwordForm.get('password').dirty || passwordForm.get('password').touched))"
          style="cursor: pointer;" matSuffix>
           <i class="fas fa-exclamation-circle"></i>
        </mat-icon>
        <mat-icon class="iconError" matTooltip="{{ account_validation_messages.password[1].message }}"
            *ngIf="passwordForm.get('password').hasError(account_validation_messages.password[1].type) && ((passwordForm.get('password').dirty || passwordForm.get('password').touched))"
            style="cursor: pointer;" matSuffix>
            <i class="fas fa-exclamation-circle"></i>
        </mat-icon>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="example-full-width">
        <mat-label style="font-size: 14px;">Confirmation mot de passe</mat-label>
        <input matInput  formControlName="confirmpassword" [type]="hidePassword ? 'password' : 'text'">
            <button class="iconVisible" *ngIf="passwordForm.get('confirmpassword').value && passwordForm.get('confirmpassword').value!=''" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-icon class="iconError" matTooltip="Les deux mot de passe ne correspondent pas"
                      *ngIf="(passwordForm.get('confirmpassword').errors?.notEqual || passwordForm.get('confirmpassword').value!=passwordForm.get('password').value) &&  ((passwordForm.get('confirmpassword').dirty || passwordForm.get('confirmpassword').touched))"
                      style="cursor: pointer;" matSuffix>
                      <i class="fas fa-exclamation-circle"></i>
            </mat-icon>
      </mat-form-field>

      <div align="center">
        <button mat-raised-button class="btn-log" type="submit" (click)="onPasswordUser()" matTooltip="Modifié"> Terminer</button>
      </div>

    </form><!--form-->

  </div>


</ion-content>
