<ion-content [fullscreen]="true">

    <div style="padding-top: 20px" class="ion-padding">
      <ion-row>
        <ion-col size="2">
          <button ion-button class="div_btn" (click)="dismiss()"><ion-icon name="chevron-back"></ion-icon></button>
        </ion-col><!--col-->
        <ion-col size="10">
          <p style="font-size: 20px;font-weight: 500;text-align: center;">Mentions légales</p>
        </ion-col><!--col-->
       
      </ion-row><!--ion-row-->
     
    </div><!--padding-->

</ion-content>
