<ion-tabs>

  <!--<ion-icon name="qr-code-outline" class="icon-button inner-center-btn"></ion-icon>-->
  <ion-fab-button class="inner-center-btn" (click)="openDialog()"><ion-icon name="qr-code-outline"></ion-icon></ion-fab-button>
  <!--class="bottom-tab-bar"-->

  <!--<div class="btn-float">

  </div>-->

  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="visite">
      <ion-icon name="home" style="font-size: 19px;"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="openDialog()">
      <ion-icon name="chatbox-ellipses-outline" style="font-size: 19px;"></ion-icon>
      <ion-label>Messageries</ion-label>
    </ion-tab-button>

    
    <ion-tab-button (click)="openDialog()">
      <ion-icon name="megaphone-outline" style="font-size: 19px;"></ion-icon>
      <ion-label>Bons plans</ion-label>
    </ion-tab-button>


    <ion-tab-button (click)="openDialog()">
      <ion-icon name="person-outline" style="font-size: 19px;"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>