.card-cnt{
 border-radius: 15px;
 width: 100%;
}

.roundCat{
    height: 50px;
    width: 55px;
    border-radius: 50%;
    box-shadow: 0px 5px 5px #f1f0f0;
    background-color: #fcfcfc;
}

.imground{
    width: 49px;
    height: 65px;
}

.p-text{
 color: #000000;
 font-weight: 500;
}

.titleinfo{

    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #707073;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.col-div{
    padding-left: 15px;
    padding-top: 10px;
}

.row-div{
    padding-left: 31px;
}

.btn-lg{
 background: linear-gradient(91.85deg, #0C1733 2.48%, #236CBD 58.09%);
}

.imgSlide{
    margin: 126px auto 20px;
    display: block;
    max-width: 55%;
}