<ion-content [fullscreen]="true">

  <div style="padding-top: 20px" class="ion-padding">
    <p style="font-size: 32px;font-weight: 700;text-align: center;">Messages</p>
    <mat-divider></mat-divider>
  </div>

  <div class="ion-padding">
    <ion-row style="width: 100%;">
      <ion-col size="4" align="left">
        <button mat-button style="color:#2F416D;font-size: 12px;">Selectionné</button>
      </ion-col>
      <ion-col size="4" align="center">
        <button mat-button style="color:#52E34F;font-size: 12px;">Annuler</button>
      </ion-col>
      <ion-col size="4">
        <button mat-button style="color:#FF0000;font-size: 12px;">Supprimer</button>
      </ion-col>
    </ion-row>    
  </div>

  <div>
    <ion-item-sliding >
      <ion-item class="ion-no-padding" lines="none">
        <ion-card class="card-cnt" (click)="presentModal()">
          <ion-card-content class="ion-no-padding">
            <ion-row style="width: 100%;">
              <ion-col size="2">
                <div class="roundCat">
                  <img src="assets/images/auchan2.png" class="imground">
                </div>
              </ion-col>
              <ion-col size="7">
                <div class="col-div">
                  <p class="p-text">Auchan</p>
                  <span style="font-size:9px;">Lorem ipsum dolor sit…</span>
                </div>
              </ion-col>
              <ion-col size="3">
                <div style="padding-top: 12px;float:right;">
                  <p style="font-size:9px;">4 jour(s)</p>
                  <ion-badge color="success" style="border-radius: 45%;">41</ion-badge>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>    
      </ion-item>

      <ion-item-options side="end">
        <button ion-button class="btn-lg">X</button>
      </ion-item-options>
    </ion-item-sliding><!--sliding-->

    <ion-item-sliding>
      <ion-item class="ion-no-padding" lines="none">
        <ion-card class="card-cnt">
          <ion-card-content class="ion-no-padding">
            <ion-row style="width: 100%;">
              <ion-col size="2">
                <div class="roundCat">
                  <img src="assets/images/auchan2.png" class="imground">
                </div>
              </ion-col>
              <ion-col size="7">
                <div class="col-div">
                  <p class="p-text">Auchan</p>
                  <span style="font-size:9px;">Lorem ipsum dolor sit…</span>
                </div>
              </ion-col>
              <ion-col size="3">
                <div style="padding-top: 12px;float:right;">
                  <p style="font-size:9px;">4 jour(s)</p>
                  <ion-badge color="success" style="border-radius: 45%;">41</ion-badge>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>    
      </ion-item>
      <ion-item-options side="end">
        <button ion-button class="btn-lg">X</button>
      </ion-item-options>
    </ion-item-sliding><!--sliding-->
  </div>
 
</ion-content>