<ion-tabs>


  <!--<div  [ngClass]="fabButtonClass()">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="openDialog()" class="btn-ml"><ion-icon name="qr-code-outline"></ion-icon></ion-fab-button>
    </ion-fab>
  </div>-->

  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home" style="font-size: 19px;"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messageries">
      <ion-icon name="chatbox-ellipses-outline" style="font-size: 19px;"></ion-icon>
      <ion-badge color="danger" *ngIf="client>0">{{client}}</ion-badge>
      <ion-label>Messageries</ion-label>
    </ion-tab-button>


      <ion-tab-button>
        <ion-fab>
          <ion-fab-button (click)="openDialog()" class="custom-fab">
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-tab-button>

    
    <ion-tab-button tab="plans">
      <ion-icon name="megaphone-outline" style="font-size: 19px;"></ion-icon>
      <ion-label>Bons plans</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="parametres">
      <ion-icon name="person-outline" style="font-size: 19px;"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>