<ion-content [fullscreen]="true" class="ion-padding">

  <div style="padding-top: 40%;">

    <ion-text>
      <p class="titleSingup"><span class="icon-back" [routerLink]="'/login'"><mat-icon>arrow_back_ios</mat-icon><mat-icon style="position:relative;right: 16px;">arrow_back_ios</mat-icon></span>Réinitialisation</p>
      <p class="subSignup" style="font-size: 12px;">Entrez votre nouveau mot de passe</p>
    </ion-text>

    <div class="imgContent">
      <ion-img src="assets/images/logo.png" class="imgLogo"></ion-img> 
    </div>
  
    <div>
      <img src="assets/images/synchronize.png" class="imgSlide">
    </div>
  
   
  
    <div style="font-size: 13px;">
  
      <form [formGroup]="changepasswordForm" novalidate>

        <p *ngIf="passwordchangederror" style="color:#d41750;font-size: 12px;font-weight: normal;"> Votre mot de passe a déjà été changé</p>

  
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="labelFrom">Mot de passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password" appAppPassword required>
          <mat-icon matPrefix>lock</mat-icon>
          <button *ngIf="changepasswordForm.get('password').value && changepasswordForm.get('password').value!=''" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
           <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         </button>
        </mat-form-field>
        <div>
          <mat-error *ngFor="let validation of account_validation_messagespassword.password">
            <mat-error class="error-message" style="font-size: 12px;"
              *ngIf="changepasswordForm.get('password').hasError(validation.type) && (changepasswordForm.get('password').dirty || changepasswordForm.get('password').touched || (submitted))">
              {{validation.message}}</mat-error>
          </mat-error>
          <br/>
        </div>
    
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="labelFrom">Confirmer mot de passe</mat-label>
          <input matInput [type]="hideC ? 'password' : 'text'" appConfirmEqualValidator="password" matInput formControlName="confirmpassword"
          name="confirmpassword" appAppPassword required>
          <mat-icon matPrefix>lock</mat-icon>
          <button *ngIf="changepasswordForm.get('confirmpassword').value && changepasswordForm.get('confirmpassword').value!=''" mat-icon-button matSuffix (click)="hideC = !hideC" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideC">
           <mat-icon>{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
         </button>
        </mat-form-field>
        <div>
          <mat-error *ngFor="let validation of account_validation_messagespassword.confirmpassword">
            <mat-error class="error-message" style="font-size: 12px;"
              *ngIf="changepasswordForm.get('confirmpassword').hasError(validation.type) && (changepasswordForm.get('confirmpassword').dirty || changepasswordForm.get('confirmpassword').touched || (submitted))">
              {{validation.message}}</mat-error>
          </mat-error>
          <span class="text-danger" style="font-size: 12px;" *ngIf="changepasswordForm.get('confirmpassword').errors?.notEqual">
             Les deux mot de passe ne correspondent pas
          </span>
          <br/>
        </div>
  
  
      </form>
  
      <div>
        <!--<ion-button expand="block" type="submit" (click)="onChangePassword()" [disabled]="changepasswordForm.invalid">Terminer</ion-button>-->
        <button mat-raised-button class="btn-log" type="submit" (click)="onChangePassword()" [disabled]="changepasswordForm.invalid">Terminer</button>
      </div>
  
    </div>

    <ion-popover [isOpen]="passwordchanged">
      <ng-template>
        <ion-content>
          <mat-card class="example-card" style="box-shadow: none !important;opacity: 80%;padding: 0px;">

            <mat-card-content style="margin: 0 60px 0 60px;">
               <img src="assets/images/valide.png" class="center-img">
            </mat-card-content>
            <div class="card-detail">
              <p style="font-size: 14px;color: #fff;margin: 10px;">
                Mot de passe modifié avec succès.
              </p>
            </div>
          </mat-card>
        </ion-content>
      </ng-template>
    </ion-popover>      

   

  </div><!--div-->

</ion-content>
