<div style="margin-bottom:10px;">
   <p style="text-align:center;font-size: 14px;">Total points disponible</p>
   <mat-divider></mat-divider>
</div>
<div>
  <ion-row>
    <ion-col>
       <p style="color:#000000;font-size:12px;font-weight:bold;text-align:center">Point visite</p>
       <p style="color:#52E34F;font-size:12px;font-weight:bold;text-align:center;">{{operation?.visite}}</p>
    </ion-col>
    <ion-col>
      <p style="color:#000000;font-size:12px;font-weight:bold;text-align:center">Point achat</p>
      <p style="color:#52E34F;font-size:12px;font-weight:bold;text-align:center;">{{operation?.achat}}</p>
    </ion-col>
  </ion-row>
</div>
