<ion-content [fullscreen]="true">
  <div style="padding-top: 20px" class="ion-padding">
    <ion-row>
      <ion-col size="2">
        <button mat-mini-fab style="background-color:#52E34F;color:#ffffff;" (click)="dismiss()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </ion-col>
      <ion-col size="10" align="center">
        <p style="font-size: 32px;font-weight: 700;">Bons plans</p>
      </ion-col>
    </ion-row><!--ion-row-->
    <mat-divider></mat-divider>
  </div>

  <div class="headMessage">
    
  </div><!--headMessage-->

  <div class="ion-padding" style="position:relative;bottom:5px;">

    <ion-row>
      <ion-col size="3">
        <div class="roundCat">
          <img src="assets/images/auchan2.png" class="imground">
        </div>
      </ion-col><!--ion-col-->
      <ion-col size="9" align="left">
        <p class="p-text">Auchan</p>
        <span class="s-text">Dakar mermoz / Auchan@contact.com</span>
      </ion-col>
    </ion-row>

    <p class="p-title">QUESTIONNAIRE D’EVALUATION DE LA SATISFACTION CLIENT</p>
    <div>
      <img src="assets/images/ach.jpeg" class="img-art">
      <div class="div-info"></div>
      <div class="div-det">
        <ion-row>
            <ion-col><p style="color:#455A64;font-size: 12px;">Gagnez 50 Pts</p></ion-col>
            <ion-col><p style="color:#7F8E9D;font-size: 12px;float: right;">Prend fin dans 2h</p></ion-col>
        </ion-row><!--ion-row-->
      </div>
    </div>
    <p style="color:#2E3E5C;font-size:13px;position:relative;bottom:42px;">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </p>
    <p style="color:#49C120;font-size:13px;font-weight:500;position:relative;bottom:32px;">Gagnez 50 points (visite)</p>
    <div align="center">
      <button mat-raised-button class="btn-log">Repondre</button>
    </div>
  </div><!--ion-->



</ion-content>
