<ion-content  [fullscreen]="true">

  <div style="padding-top:20px;" class="ion-padding">
    <p style="font-size: 32px;font-weight: 700;text-align: center;">Messages</p>
    <mat-divider></mat-divider>
  </div>

  <div class="headMessage">
    
  </div><!--headMessage-->

  <div class="ion-padding" style="position:relative;bottom:5px;">
    <ion-row>
       <ion-col>
        <div class="roundCat">
          <img src="data:image/png;base64,{{entreprise?.image}}"  class="imground" *ngIf="entreprise?.image">
          <img src="assets/images/icon.png"  class="imground" *ngIf="!entreprise?.image">
        </div>
       </ion-col>
       <ion-col>
        <p class="p-text">{{entreprise?.nom}}</p>
        <!--<span style="font-size:9px;position:relative;bottom:24px;">Il y'a 1h</span>-->
       </ion-col>
       <ion-col>
         <div align="right">
          <button mat-mini-fab color="accent" (click)="dismiss()">
           <mat-icon>close</mat-icon>
          </button>
         </div>
       </ion-col>
    </ion-row><!--ion-row-->
  </div>

  <div class="ion-padding">
    <ion-row *ngFor="let m of message">
      <ion-col size="1"></ion-col>
      <ion-col size="11" *ngIf="m?.type!='promotion'">
        <ion-card style="background-color:#F6F7F9;">
          <ion-card-content class="ion-padding">
            <p style="color:#323635;font-weight:500;font-size:13px;">{{m?.message?.nom}}</p>
            <div *ngIf="m?.message?.photo">
              <img src="data:image/png;base64,{{m?.message?.photo}}">
            </div>
            <p style="font-size:11px;color: #000000;">
              {{m?.message?.message}}
            </p>
          </ion-card-content>  
        </ion-card>
        <div align="right">
          <p style="font-size:12px;color:#9A9A9A;">{{m?.dateCreated | dataAsAgoPipe }}</p>
        </div>
      </ion-col>
      <ion-col size="11" *ngIf="m?.type=='promotion'">
        <ion-card style="background-color:#F6F7F9;">
          <ion-card-content class="ion-padding">
            <p style="color:#323635;font-weight:500;font-size:13px;">{{m?.promotion?.nom}}</p>
            <div *ngIf="m?.promotion?.photo">
              <img src="data:image/png;base64,{{m?.promotion?.photo}}">
            </div>
            <p style="font-size:11px;color: #000000;" [innerHTML]="m?.promotion?.email">
              {{m?.promotion?.email}}
            </p>
          </ion-card-content>  
        </ion-card>
        <div align="right">
          <p style="font-size:12px;color:#9A9A9A;">{{m?.promotion?.dateEnvoie | dataAsAgoPipe }}</p>
        </div>
      </ion-col>
    </ion-row><!--ion-row-->
  </div>

  


</ion-content>


