<ion-content  [fullscreen]="true">

  <div style="padding-top:20px;" class="ion-padding">
    <p style="font-size: 32px;font-weight: 700;text-align: center;">Messages</p>
    <mat-divider></mat-divider>
  </div>

  <div class="headMessage">
    
  </div><!--headMessage-->

  <div class="ion-padding" style="position:relative;bottom:5px;">
    <ion-row>
       <ion-col>
        <div class="roundCat">
          <img src="assets/images/auchan2.png" class="imground">
        </div>
       </ion-col>
       <ion-col>
        <p class="p-text">Auchan</p>
        <span style="font-size:9px;position:relative;bottom:24px;">Il y'a 1h</span>
       </ion-col>
       <ion-col>
         <div align="right">
          <button mat-mini-fab color="accent" (click)="dismiss()">
           <mat-icon>close</mat-icon>
          </button>
         </div>
       </ion-col>
    </ion-row><!--ion-row-->
  </div>

  <div class="ion-padding">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-card style="background-color:#F6F7F9;">
          <ion-card-content class="ion-padding">
            <p style="color:#323635;font-weight:500;font-size:13px;">MEGA PROMO</p>
            <p style="font-size:12px;">
              totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p>
          </ion-card-content>  
        </ion-card>
        <div align="right">
          <p style="font-size:12px;color:#9A9A9A;">15 oct 2021  4:15 PM</p>
        </div>
      </ion-col>
    </ion-row><!--ion-row-->
  </div>

  


</ion-content>


