<ion-content [fullscreen]="true" class="ion-padding">

  <div style="padding-top: 30%;">

    <ion-text>
      <p class="titleSingup">
        <span class="icon-back" [routerLink]="'/login'"><mat-icon>arrow_back_ios</mat-icon><mat-icon style="position:relative;right: 16px;">arrow_back_ios</mat-icon></span> 
        <span style="position: relative;right: 14px;">Mot de passe oublié</span>
      </p>
      <p class="subSignup">Entrez le numéro de récupération</p>
    </ion-text>
    

    <div class="imgContent">
      <ion-img src="assets/images/logo.png" class="imgLogo"></ion-img> 
    </div>
  
    <div>
        <img src="assets/images/password.png" class="imgSlide">
    </div>
  
   

    <div style="font-size: 13px;">


      <form [formGroup]="lostpasswordForm" novalidate>

        <div style="text-align: center;">
          <p *ngIf="accountnotfound" style="color:#d41750;font-size: 12px;font-weight: normal;">Oups!!! Compte non trouvé</p>
        </div>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="labelFrom">Numéro de téléphone</mat-label>
          <input matInput formControlName="emailorphone" placeholder="Numéro de téléphone" required>
          <mat-icon matPrefix>phone_iphone</mat-icon>
        </mat-form-field>
        <div style="text-align: center;">
          <mat-error *ngFor="let validation of account_validation_messages.emailorphone">
            <mat-error class="error-message" style="font-size: 12px;"
              *ngIf="lostpasswordForm.get('emailorphone').hasError(validation.type) && (lostpasswordForm.get('emailorphone').dirty || lostpasswordForm.get('emailorphone').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </div>
    
        <div>
          <!--<ion-button expand="block" type="submit" (click)="onLostPassword()">Envoyer un code de recupération</ion-button>-->
          <button mat-raised-button class="btn-log" type="submit" (click)="onLostPassword()">Envoyer un code de recupération</button>

          <!--[routerLink]="'/reset'"-->
        </div>
       
      </form><!--form-->
  
      

    </div>  

  </div><!--div-->


</ion-content>
