<ion-content [fullscreen]="true" class="ion-padding">

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slideContent">


          <img src="assets/images/slide1.png" class="imgSlide">

          <p class="titleSlide">Désormais vos achats sont récompensés</p>
          <div>
            <p class="subtitle">
              vos achats se convertissent en points pour vous offrir de nombreux avantages. Désormais votre fidélité est récompensée
            </p>
          </div>
      </div><!--slide-->
    </ion-slide>
    <ion-slide>
      <div class="slideContent">
          <img src="assets/images/slide3.png" class="imgSlide">
          <p class="titleSlide">Collectez le maximum de points et profitez de nombreux avantages</p>
          <div>
            <p class="subtitle">
              A chaque achat chez l’un de nos partenaires présentez votre carte de fidélité numérique afin de collecter des points
            </p>
          </div>
      </div><!--slide-->
    </ion-slide>
    <ion-slide>
      <div class="slideContent">
          <img src="assets/images/slide2.png" class="imgSlide">
          <p class="titleSlide">Restez informez des bons plans</p>
          <div>
            <p class="subtitle">
              Trouvez tout ce que vous avez besoin de savoir sur vos boutiques préférées. Soyez les premiers à être informés des bons plans
            </p>
          </div>
      </div><!--slide-->
    </ion-slide>
  </ion-slides>
  <div align="center">
    <button mat-button [routerLink]="'/login'" class="titleSign">Se connecter</button>
  </div>
  <ion-button expand="block" [routerLink]="'/tabs-visite/visite'">Découvrir l'application wefid</ion-button>
  <!--Créer une carte de fidélité-->
</ion-content>
