<div *ngIf="cadeau">

  <div align="center">
    <!--<img src="data:image/png;base64,{{cadeau?.produit?.photo}}" class="imgcontent">-->
    <img src="data:image/png;base64,{{cadeau?.produit?.photo}}" class="imgproduit" *ngIf="cadeau?.produit?.photo">
    <img src="assets/images/icon.png" class="imgproduit" *ngIf="!cadeau?.produit?.photo">
  </div>
  <div align="center" style="padding-top: 10px;">
    <p class="title_entreprise">
      <span matBadge="{{cadeau?.point}}" matBadgeColor="accent" matBadgeOverlap="false" *ngIf="cadeau?.typeCadeau!='Livraison'">{{cadeau?.produit?.nom}}</span>
      <span matBadge="{{cadeau?.point}}" matBadgeColor="accent" matBadgeOverlap="false" *ngIf="cadeau?.typeCadeau=='Livraison'">({{cadeau?.nombreLivraison}}) Livraison</span>
    </p>
    <p class="title_entreprisep">Point {{cadeau?.typesPoint?.nom}}</p>
  </div>
  <div style="position: relative;bottom: 30px;" *ngIf="cadeau?.produit?.description">
    <p style="padding-top: 6px;">Détail</p>
    <p style="font-size: 10px;">
        {{cadeau?.produit?.description}}
    </p>
  </div>

</div><!--div-->



