<ion-content [fullscreen]="true">
  <div style="padding-top: 20px" class="ion-padding">
    <p style="font-size: 32px;font-weight: 700;text-align: center;">Bons plans</p>
    <mat-divider></mat-divider>
  </div>

  <div class="ion-padding" style="margin-bottom: -70px;" (click)="presentModal()">

    <ion-row>
      <ion-col size="3">
        <div class="roundCat">
          <img src="assets/images/auchan2.png" class="imground">
        </div>
      </ion-col><!--ion-col-->
      <ion-col size="9" align="left">
        <p class="p-text">Auchan</p>
        <span class="s-text">Dakar mermoz / Auchan@contact.com</span>
      </ion-col>
    </ion-row>
    
    <p class="p-title">QUESTIONNAIRE D’EVALUATION DE LA SATISFACTION CLIENT</p>
    <div>
      <img src="assets/images/ach.jpeg" class="img-art">
      <div class="div-info"></div>
      <div class="div-det">
        <ion-row>
            <ion-col><p style="color:#455A64;font-size: 12px;">Gagnez 50 Pts</p></ion-col>
            <ion-col><p style="color:#7F8E9D;font-size: 12px;float: right;">Prend fin dans 2h</p></ion-col>
        </ion-row><!--ion-row-->
      </div>
    </div>

  </div><!--ion-padding-->

  <div class="ion-padding">

    <ion-row>
      <ion-col size="3">
        <div class="roundCat">
          <img src="assets/images/auchan2.png" class="imground">
        </div>
      </ion-col><!--ion-col-->
      <ion-col size="9" align="left">
        <p class="p-text">Auchan</p>
        <span class="s-text">Dakar mermoz / Auchan@contact.com</span>
      </ion-col>
    </ion-row>
    
    <p class="p-title">QUESTIONNAIRE D’EVALUATION DE LA SATISFACTION CLIENT</p>
    <div>
      <img src="assets/images/ach.jpeg" class="img-art">
      <div class="div-info"></div>
      <div class="div-det">
        <ion-row>
            <ion-col><p style="color:#455A64;font-size: 12px;">Gagnez 50 Pts</p></ion-col>
            <ion-col><p style="color:#7F8E9D;font-size: 12px;float: right;">Prend fin dans 2h</p></ion-col>
        </ion-row><!--ion-row-->
      </div>
    </div>

  </div><!--ion-padding-->

  
</ion-content>
